files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDETCCAfkCFHkRPCKH/DGmZEltbRjnPssSEL4OMA0GCSqGSIb3DQEBCwUAMEUx
      CzAJBgNVBAYTAkFVMRMwEQYDVQQIDApTb21lLVN0YXRlMSEwHwYDVQQKDBhJbnRl
      cm5ldCBXaWRnaXRzIFB0eSBMdGQwHhcNMjExMTI1MDQwMjEyWhcNMjIxMTI1MDQw
      MjEyWjBFMQswCQYDVQQGEwJBVTETMBEGA1UECAwKU29tZS1TdGF0ZTEhMB8GA1UE
      CgwYSW50ZXJuZXQgV2lkZ2l0cyBQdHkgTHRkMIIBIjANBgkqhkiG9w0BAQEFAAOC
      AQ8AMIIBCgKCAQEAyaQVMAlefWN9OtdTi6cK5wBrHiti1ifsitQ8UZ0oZlUT1Qna
      DfTX/P6epXVAJVQ7TMGenkbgcSp5L4LZLcFbTBGNjX6xmjXvz3f62nR3kXwp0ky0
      oS/Wfmk1xpGAORxMGF0sAQBbpvMxJTpuMqkwh95ycYIyHE3ZW97xWW+P94XPZnz3
      qxXxLiKZExYJJGCY+F6/OSh5vhDKIbQpgalUsmBQcXN6oGbHYGkG40C9Zqxb0rmf
      AQ6wRTmYvXTRsYyaBSdSr1D+ggdzW7d1CwBkna1m3EwsTAhsWVzr9CGWFqSbJMff
      ZddrD8/obd1odvC4mXDsOYAwydck7G3MuHcYZwIDAQABMA0GCSqGSIb3DQEBCwUA
      A4IBAQC/Mya0B5KNvog3ADpMZzl6RtE+vmMwZpRBqpwFFAG7B2s2R1WnymAC0baQ
      0Rn6AOA+gRcF9vSguiQNR0IaQCqhBDcSDxGpofZ3cpFQtmZ+PZ00prji2W+2rCk7
      rHQhbzV2197Zs8Y6hBtBmZFTr8nu/+/c3uFKOOV3r/lx1agNRZH9Rn9pXu07Kib+
      29w++PRj6TDD9AbPKFaA3kj31X1rJNIVUSULlOH6NHJqJLTpuuNQOhiDwiRPuXw8
      6+Xit0TowywSOOXfHqmeKtVw00UBgjrUSBo+a+YPpcmbDJBDFPa8MOdcr0V3wPDd
      I5SRdBPVmeR6XwIsldHRqOi4X0yu
      -----END CERTIFICATE-----

      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpQIBAAKCAQEAyaQVMAlefWN9OtdTi6cK5wBrHiti1ifsitQ8UZ0oZlUT1Qna
      DfTX/P6epXVAJVQ7TMGenkbgcSp5L4LZLcFbTBGNjX6xmjXvz3f62nR3kXwp0ky0
      oS/Wfmk1xpGAORxMGF0sAQBbpvMxJTpuMqkwh95ycYIyHE3ZW97xWW+P94XPZnz3
      qxXxLiKZExYJJGCY+F6/OSh5vhDKIbQpgalUsmBQcXN6oGbHYGkG40C9Zqxb0rmf
      AQ6wRTmYvXTRsYyaBSdSr1D+ggdzW7d1CwBkna1m3EwsTAhsWVzr9CGWFqSbJMff
      ZddrD8/obd1odvC4mXDsOYAwydck7G3MuHcYZwIDAQABAoIBAF/gr1pp+g3xEoi5
      /jW3Nc3lOwnbY2GlFiplBFFiQuV1qrpvtslQFKttfo36FIgrZw72Oa/Uz7+/jGP0
      +cNx3zFqXz5acaR75Q1nZVYebwQ0X8ZpRrImBv2QlUtXv/pn5B7pnpTTUMEvfbzP
      7boVDMhuE0i5uY4PzjyK44O9Ml1k4MMtAQFwlWYcXtwK+1ASeVcYu20Yu05TaQ9n
      MSUjRmodaLomeXfOZX8xvKLqGb8r12XJHXRDIFmGnqChv2n4zBA20rEXLhUD5sRK
      QCC1dpwQWNLbbUBwNkWPlkXoTeER1O629GFWnjdiv7tOxr7kwZ7ErIC1YeupVj6g
      A6JkYnECgYEA5vJfje87YusVo6AZK2aKpjnAu2YvwgPJg2SIWEfOWQSf1XWYThnd
      Pj6DA6pMeBWNzmSj18pknjk6zlt+tho+dRV8flDoQMEwWAjD9aayfAj9nehuksn/
      WqQ0hvpMJDMqXZhxckRqlyBVODJPnrdG3qOmEml2rnHGiqys5NSEQ4MCgYEA34Pb
      ZQwrEtUAqTWW0rVLMw5itrwVOIx3BxkMEctTVqh6rX57u8/En+h7IpUfNsxqW2cl
      tJH+1Ee2Gg8mVIpn37DUp1FU6qwKKEkzHLhdbJ5KXrzKECsfq9/tS88T1RVQGMXT
      +jcBm4v4ORA9T+vEM4q2wznhwlkGHux7mc957k0CgYEAmB3nIJcF98a+bxNB4Nte
      0dRShVzucg2KitgKEpPhb7LjEHevhSn2F0yXgS+HxMT1rY+Od9Fg6vLpMAkF8i5h
      Gz+2y4DBKf3VuPa1FDXjdF17p6n0Qw13+50S2CE/S8zDx/hkKQ61YquyVhyVYwZ3
      UKhb996thIN+cdMA4oy0Pb8CgYEAhKKQTJQ98zzm2YJtb7gZWcDNnzZZOWdRMqsQ
      WHbZi3EK621FK5wNR/8DIvBux2viKT86Rr7kA0BStYAL9Nr07O7YIjnHNELG/EUD
      yaU1+0CrTTCmj5Wng6yr+fJ2CFpPX4P1WGPP1mfm8qXKXGTB1vwXnB369AMz+KHI
      buuJpXkCgYEAoW+lzXqhPLb2voNiMxV6gkHDamZiE0r+LDI1MfDyIk62S2PVUN5p
      +p8/yUBfbRiUhWa0BqtlmCtNcgoQSBipoUrXYRtw8G1GOa8FswHip/Qnp2pEc2PW
      0jAI4Gy9J2GHwLLV3dJHS5ZUlyrAwvs2dldWD5TtFTYLna/rBmrbGgg=
      -----END RSA PRIVATE KEY-----


  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart